a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 1rem;
    transition: all 0.2s ease-in;
}

a:hover {
    color: black;
    background-color: wheat;
    border-radius: 5px;
}

.Navbar{
    /*justify-content: center;*/
    align-items: center;

}
.navLogo {
    max-height: 5rem;
    max-width: 5rem;
}


h5{
    text-decoration: underline;
}