a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 1rem;
    transition: all 0.2s ease-in;
}

a:hover {
    color: black;
    background-color: wheat;
    border-radius: 5px;
}

.navBar {
    top: 0;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
    background-color: white;
}

.link-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}