#root {
  width: 100vw;
  padding: 1rem;
    background-color: black;
    color: wheat;
}



/*.typing-animation {*/
/*  border-right: 2px solid #000; !* Adds a blinking cursor effect *!*/
/*  overflow: hidden;*/
/*  white-space: nowrap;*/
/*  animation: typing 2s steps(20, end), blink-caret 0.5s step-end infinite;*/
/*  animation-iteration-count: infinite;*/
/*    !*animation-delay: 1s;*!*/
/*    font-size: 2rem;*/
/*ease-in-out: 1s;*/
/*}*/

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }


}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #000; }

}


